.body{
	margin-top:5%;
	margin-bottom: 5%;
	font-family:'Roboto';
}

body{
	background-color:#8FFF9D
}

h1{
	text-align:center;
	font-size: 50px;
	font-family:'Copperplate Gothic';
}

h2, h3{
	margin-left: 10%;
	text-align: left;
	font-family:'Copperplate Gothic';
}

p{
	text-align: justify-all;
}

td{
	text-align: center;
}

a{
	display: block;
	padding: 8px;
}

li{
	float: left;
}

.titulo{
	text-align: center;
	font-family:'Copperplate Gothic';
}

.opcoes{

	margin: 100px 10px 80px 150px;
}

.card{
	float: left;
	display: inline-block;
	margin: 10px 5px 10px -15px;
	padding: 10px 5px 10px 15px;

}

.card img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}


.botao{
	text-align: center;
	margin: 10% 25% 10% 20%;
	font-family:'Copperplate Gothic';
}

.tabela{
	float: left;
	padding: 10px 25px 0px 10px;

}


.card1{
	width:300px;
	height: 300px;

	float: left;

	margin: 10px 0px 10px 0px;
	padding: 10px 5px 10px 25px;

}

.card1 img {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    padding: 10px 25px 0px 40px;
}

.tabelahv{
	margin-top: 5%;
	margin-right: 7%;
	margin-bottom: 5%;
	margin-left: 19%;
}


.cidades{
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 30px;
	margin-left: 5px;
}

.opcoes1{
	margin: 5% 5% 45% 7%;
	
}
.card2{
	width:300px;
	height: 300px;

	float: left;

	margin: 0px 40px 10px 7px;
	padding: 0px 5px 10px 25px;

}

.card2 img {
    max-width:125px;
    max-height:125px;
    width: auto;
    height: auto;
    margin: 0px 40px 10px 50px;
    padding: 0% 10% 5% 10%;
}

.menor img{
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    margin: 13px 40px 17px 50px;
    padding: 0% 10% 5% 10%;
}

.botao1{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0% 20% 10% 20%;
	text-align: justify;
	font-family:'Copperplate Gothic';
}

.botao1 p{
	text-align: left;
}

a:link {
	color: black;
	text-decoration: none;
	display: inline-block;
}

a:visited {
	color: black;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	background-color: black;
	color: #F51C14;
	text-decoration: underline; 
	cursor: pointer;
}

a:active {
	color: #F51C14;
	text-decoration: underline; 
}


.links a{
	color: white;
}


ul {
	list-style-type: none;
	margin: 0% 0% 0% 0%;
	padding: 0% 20% 0% 23%;
	overflow: hidden;
	background-color: #F51C14;
	border: 1px solid #000000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

.point a:hover{
	cursor: pointer;
	background-color: #6BFF86;
}

